@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 17px;
}
::-webkit-scrollbar-track{
    background: #f4f4f4;
}
::-webkit-scrollbar-thumb{
    background: orange;
}
body{
    line-height: 1.7;
}
:root{
    --mainbg: #ff0000;
    --footer: #000;
}
/* menu */
label i{
    background: blue;
    padding: .3em;
    font-size: 1.6em;
    color: #fff;
    border-radius: 5px;
    transition: all .5s;
}
label i:hover{
    background: #695b60f5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
label{
    display: none;
}
#checkbox{
    display: none;
}


/* ends */
/* ================= */
/* utility classes */
.text-center{text-align: center;}
.line{
    width: 200px;
    height: 2px;
    display: block;
    background: orange;
    margin: 5px auto;
}
span{
    color: orange;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: hidden;
} 
header .row{
    padding: 1em 0;
}
.row{
    /* margin: 0 auto; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    text-decoration: none;
    padding: 6px 11px;
    border-radius: 10px;

}
.btn1{
    text-decoration: none;
    border: 2px red  solid;
    padding: 6px 11px;
    border-radius: 10px;
    transition: all 0.4s;
    font-weight: 500;
}
.btn1:hover{
    background: red;
    border: 2px solid red;
    color: #fff;
}
.button{
    background: #fff;
    color: red;
    transition: all 0.4s;
}
.btn3{
    border: 2px #fff solid;
    color: #fff;
}
.btn2{
    background: #fff;
    border: 2px #FFF solid;
    transition: all .4s;
    color: #000;
    font-weight: 500;
}
.btn2:hover{
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
}
.btn3{
    font-weight: 500;
    transition: all .4s;
}
.btn3:hover{
    background: #fff;
    border: 2px #FFF solid;
    color: #000;
    
}

/* some of them may not use */
/* font size */
.F-size1{font-size: 1.1em;}
.F-size2{font-size: 1.5em;}
.F-size3{font-size: 2.1em;}
.F-size4{font-size: 2.5em;}
.F-size5{font-size: 3em;}
/* padding */
.p-bb{padding-top: 0.5em 0;}
.p-tt{padding-top: 0.5em 0;}
.p-tb{padding: 1em 0;}
.p-sss{padding: 3em;}
.p-s{padding: 1em 1em;}
.p-sides{padding: 0 2em;}
.p-t{padding-top: 1.5em;}
.p-b{padding-bottom: 1em;}
/* =====marign== */
.m-tb{margin: 1em 0;}
.m-bb{margin-top: 0.5em 0;}
.m-tt{margin-top: 0.5em 0;}
.m-s{margin: 1em 1em;}
.m-Sides{margin: 0 2em;}
.m-Side{margin-right:1em;}
.m-t{margin-top: 1.5em;}
.m-b{margin-bottom: 1.5em;}
/* ====end utilities =============== */

.logo img{
    width: 149px;
   height: 39px;
}

.row nav ul{
    display: flex;
   
}
.row ul li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: orange;
    bottom: 0;
    display: flex;
    transform:  scale(0);
    transition: transform .4s;
}
.row ul li:hover:after{
    transform: scale(1);
}
.row ul li{
    list-style: none;
    margin-right: 20px;
    position: relative;
}
.row ul li a{
    font-weight: 500;
    text-decoration: none;
    color: blue;
    transition: all .5s;
}
.row ul li a:hover{
    color: #333;
}
/* ================================== */
/* main */
.main{
    background-color: var(--mainbg);
    width: 100%;
}
.col-1 h1{
    color: #fff;
}
.col-1 p{
    color: #fff;
    font-weight: 200;
}
.row .col-1{
    flex: 2;
}
.row .col-2{
    flex: 1;
}
.row .col-2 img{
    max-width: 350px;
}

/* ==================*/
/* about */
.about .row .col-1{
    flex-basis: 40%;
}
.about .row .col-1 img{
    width: 290px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.4s;
}
.about .row .col-1 img:hover{
    transform: scale(0.98);
}
.about .row .col-2{
    flex-basis: 60%;
}

/*  */
.services{
    background: lightgray;
    padding: 10px;
    padding-bottom: 30px;
}
.services .row .col-1{
    flex-basis: 25%;
    margin: 10px 10px;
    text-align: center;
    padding: 5px 10px;
    background: #f4f4f4f4;
    border-radius: 10px;
    transition: all 0.4s;
}
.services .row .col-1:hover{
    transform: scale(1.1);
}
.services .col-1 h3{
    color: #000;
    font-weight: 600;
}
.services .col-1 p{
    color: #000;
    font-weight: 300;
}
.services .row .col-1 img{
    max-width: 80px;
}
.partner{
    background: #000;
    width: 100%;
    
}
.partner .container .row img{
    max-width: 200px;
    display: block;
    margin: auto;
}

.no-visible{
    display: none;
}
/* }media */

@media(max-width: 800px) {
    .row ul li::after{
        all: unset;

    }
    .no-visible-reponsive{
        display: none;
    }
    .no-visible{
        display: inline-block;
        border: none;
        padding: 0;
        border-radius: 0;
        transition: none;
        font-weight: 500;
    }
    .btn1:hover{
        all: unset;

    }
    .row ul li a:hover{
        color: #fff;
    }
    /* menu */

    label{
        position: absolute;
        right: 5px;
        display: block;
    }
    input #checkbox{
        display: none;
    }
    #checkbox:checked ~ nav{
        display: block;
        
    }


    /* ends */
    .row nav{
        display: none;
        width: 91%;
        background: lightgray;
        margin: 10px 0;
        text-align: center;
        
    }
    
    .row nav ul{
        flex-direction: column;
        transition: all .5s;
    }
    .row ul li{
        margin-right: 0;
    }
    .row nav ul li{
        /* padding: 8px; */
    }
    .row ul li a.special{
        color: #000;
        display: block;
        padding: 10px;
    }
    .row ul li a.special:hover{
        background: #cccc;
        color: #fff;
    }
    .row{
        flex-direction: column;
        text-align: center;
    }
    
    header .container .row .btn{
        display: none;
    }

    .small{
        font-size: 1.4em;
    }
    .main .row{
        padding-top: 20px;
    }
    .main .row img{
        margin-top: 20px;
        max-width : 280px; ;
    }
}
@media(max-width: 380px){
    .about .container .row .col-1 img,
    .main .container .row .col-2 img{
        max-width: 200px;
    }
    .main .row .btn{
        display: block;
        width: 50%;
        margin: 10px auto;
    }
    .small{
        font: 0.5em;
    }
    .partner .container .row img{
        max-width: 140px;
        display: block;
        margin: auto;
    }
}